#results {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
  }
  
  .results__container {
	display: flex;
	flex-direction: column;
	width: 1280px;
  }
  
  .results__content {
	display: flex;
	gap: 80px;
	padding-bottom: 64px;
  }
  
  .results__section {
	width: 600px;
  }
  
  .results__loading,
  .results__error {
	color: black;
  }

@media only screen and (max-width: 1440px) {
	.results__container {
		width: 1040px;
	}
}

@media only screen and (max-width: 1200px) {
	.results__container {
		width: 832px;
	}
	.results__content {
		gap: 40px;
	}
}

@media only screen and (max-width: 992px) {
	.results__container {
		width: 688px;
	}
}

@media only screen and (max-width: 768px) {
	.results__container {
		width: 496px;
	}

	.results__content {
		flex-direction: column;
	}
}

@media only screen and (max-width: 576px) {
	.results__container {
		width: 446px;
	}
}