/* Button.css */
.button {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 8px 16px;
	margin-bottom: 56px;
	border-radius: 48px;
	gap: 8px;
	margin-left: auto;
	transition: color 0.2s ease;
	text-decoration: none;
	background-color: #000000;
	color: #ffffff;
}

.button p {
	font-family: 'Formula1';
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.button .button__arrow {
	padding: 0px;
	margin: 0px;
	width: 40px;
	height: 40px;
	transition: stroke 0.2s ease;
	stroke: #ffffff;
}

.button:hover {
	color: #e10600;
}

.button:hover .button__arrow {
	stroke: #e10600;
}

@media only screen and (max-width: 768px) {
	.button p {
		font-size: 20px;
	}

	.button .button__arrow {
		width: 32px;
		height: 32px;
	}
}

@media only screen and (max-width: 576px) {
	.button p {
		font-size: 18px;
	}

	.button .button__arrow {
		width: 28px;
		height: 28px;
	}
}