@font-face {
	font-family: 'Formula1';
	src: url('../assets/fonts/FORMULA1-REGULAR.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-bold';
	src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
