#logo {
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
}

p.logo__prefix {
	font-family: 'Formula1';
	font-size: 36px;
	font-weight: 900;
	font-style: italic;
	line-height: 48px;
	color: #e10600;
}

p.logo__suffix {
	font-family: 'Formula1';
	font-size: 36px;
	font-weight: 900;
	font-style: italic;
	line-height: 48px;
}
