#feature {
	width: 400px;
	height: fit-content;
	background-color: white;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 5px solid transparent;
	box-sizing: content-box;
	transition: box-shadow 0.2s ease;
}

.feature__header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 16px;
	margin: 0px;
	gap: 16px;
}

.feature__headerText {
	font-family: 'Formula1';
	font-weight: 900;
	font-size: 40px;
	color: #000000;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
	padding: 0px;
	margin: 0px;
}

.feature__headingIcon {
	height: 64px;
	width: 64px;
}

#feature:hover {
	box-shadow: 0 0 0 5px #e10600;
}

@media only screen and (max-width: 1440px) {
	#feature {
		width: 330px;
		height: fit-content;
	}
}

@media only screen and (max-width: 1200px) {
	#feature {
		width: 260px;
		height: fit-content;
	}

	.feature__headingIcon {
		height: 48px;
		width: 48px;
	}

	.feature__headerText {
		font-size: 32px;
	}
}

@media only screen and (max-width: 992px) {
	#feature {
		width: 200px;
		height: fit-content;
	}

	.feature__header {
		gap: 8px;
	}

	.feature__headingIcon {
		height: 38px;
		width: 38px;
	}

	.feature__headerText {
		font-size: 28px;
	}
}

@media only screen and (max-width: 768px) {
	#feature {
		width: 310px;
		height: fit-content;
		justify-content: space-between;
	}

	.feature__headingIcon {
		height: 56px;
		width: 56px;
	}

	.feature__headerText {
		font-size: 38px;
	}
}
