#calendar {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	background-color: (255, 255, 255, 0.15);
	background-image: url('../../assets/images/ferrari_bg.png');
	background-size: cover;
	background-position: center;
	border-radius: 0px 0px 48px 48px;
}

.calendar__container {
	display: flex;
	flex-direction: column;
	width: 1280px;
	height: 720px;
	padding: 0px;
	margin: 0px;
}

.calendar__content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
	margin-bottom: 56px;
	height: fit-content;
}

@media only screen and (max-width: 1440px) {
	.calendar__container {
		width: 1040px;
		height: 660px;
	}

	.calendar__content {
		height: fit-content;
	}
}

@media only screen and (max-width: 1200px) {
	.calendar__container {
		width: 832px;
		height: 640px;
	}
}

@media only screen and (max-width: 992px) {
	.calendar__container {
		width: 688px;
		height: 580px;
	}
}

@media only screen and (max-width: 768px) {
	.calendar__container {
		width: 496px;
		height: 540px;
	}
}

@media only screen and (max-width: 576px) {
	.calendar__container {
		width: 446px;
		height: 840px;
	}

	.calendar__content {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}
}
