.story__container {
	width: 100%;
	height: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 24px;
	background-color: #ffffff;
	text-decoration: none;
	box-shadow: 5px solid transparent;
	box-sizing: border-box;
	transition: box-shadow 0.2s ease;
}

.story__img {
	width: 100%;
	border-radius: 24px;
}

.story__text {
	width: 95%;
	font-family: 'lato';
	font-size: 20px;
	text-align: justify;
	color: black;
}

.story__container:hover {
	box-shadow: 0 0 0 3px #e10600;
	border-radius: 24px;
	cursor: pointer;
}

.story__container:hover {
	box-shadow: 0 0 0 5px #e10600;
	cursor: pointer;
	border-radius: 26px;
}

@media only screen and (max-width: 1200px) {
	.story__text {
		width: 95%;
		font-size: 18px;
	}

	.story__container {
		height: 100%;
	}
}
