h2 {
	font-family: 'Formula1';
	color: black;
	width: 900px;
	font-size: 80px;
	line-height: 96px;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

h3 {
	font-family: 'Formula1';
	color: black;
	font-size: 64px;
	line-height: 72px;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

h4 {
	font-family: 'Formula1';
	color: black;
	font-size: 44px;
	line-height: 54px;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
	margin-top: 0px;
}

@media only screen and (max-width: 1440px) {
	h4 {
		width: 75%;
	}
}

@media only screen and (max-width: 1200px) {
	h2 {
		width: 810px;
		font-size: 72px;
		line-height: 80px;
	}

	h4 {
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	h2 {
		width: 680px;
		font-size: 60px;
		line-height: 68px;
	}
}

@media only screen and (max-width: 768px) {
	h2 {
		width: 400px;
	}
}

@media only screen and (max-width: 576px) {
	h2 {
		width: 430px;
		font-size: 56px;
		line-height: 64px;
	}
}

@media only screen and (max-width: 496px) {
	h2 {
		width: 400px;
		font-size: 48px;
		line-height: 56px;
	}
}
