#footer {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.footer__container {
	width: 1280px;
	height: fit-content;
	margin: 0px;
	padding: 32px 0px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	background-color: #000000;
}

.footer__logo {
    height: 80px;
}
