#footer {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.footer__container {
	width: 1280px;
	height: fit-content;
	margin: 0px;
	padding: 32px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
}

.footer__logo {
	height: 80px;
}

@media only screen and (max-width: 1440px) {
	.footer__container {
		width: 1040px;
	}

	.footer__logo {
		height: 70px;
	}
}

@media only screen and (max-width: 1200px) {
	.footer__container {
		width: 832px;
	}

	.footer__logo {
		height: 60px;
	}
}

@media only screen and (max-width: 992px) {
	.footer__container {
		width: 688px;
	}

	.footer__logo {
		height: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.footer__container {
		width: 496px;
	}

	.footer__logo {
		height: 40px;
	}
}

@media only screen and (max-width: 576px) {
	.footer__container {
		width: 446px;
	}

	.footer__logo {
		height: 30px;
	}
}

@media only screen and (max-width: 492px) {
	.footer__container {
		width: 400px;
	}
}
