.news__container {
	width: 1280px;
	height: fit-content;
	margin-bottom: 80px;
}

.news__content {
	display: grid;
	width: 100%;
	grid-template: repeat(2, 380px) / repeat(3, 400px);
	gap: 40px;
	margin-bottom: 56px;
}

.news__button p {
	font-family: 'Formula1';
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.news__button img {
	padding: 0px;
	margin: 0px;
	width: 32px;
	transition: opacity 0.3s ease;
}

@media only screen and (max-width: 1440px) {
	.news__container {
		width: 1040px;
	}

	.news__content {
		grid-template: repeat(2, 355px) / repeat(3, 320px);
	}
}

@media only screen and (max-width: 1200px) {
	.news__container {
		width: 832px;
	}

	.news__content {
		grid-template: repeat(2, 325px) / repeat(3, 256px);
		gap: 32px;
	}
}

@media only screen and (max-width: 992px) {
	.news__container {
		width: 688px;
	}

	.news__content {
		grid-template: repeat(3, 325px) / repeat(2, 328px);
	}
}

@media only screen and (max-width: 768px) {
	.news__container {
		width: 496px;
	}

	.news__content {
		grid-template: repeat(3, 310px) / repeat(2, 232px);
	}
}

@media only screen and (max-width: 576px) {
	.news__container {
		width: 446px;
	}

	.news__content {
		grid-template: repeat(6, 368px) / repeat(1, 400px);
		justify-content: center;
	}
}

@media only screen and (max-width: 480px) {
	.news__container {
		width: 337px;
	}

	.news__content {
		grid-template: repeat(6, 325px) / repeat(1, 297px);
	}
}
